.btn button{
    padding: 12px 24px;
    border-radius: 8px;
    background: var(--purple-color);
    border: none;
    outline: none;
    color: var(--white-color);
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    cursor: pointer;

}