.active-list-item,
.dark-list-item{
   display: flex;
   justify-content: center;
   align-items:center ;
   gap: 60px;
    list-style: none;
}

.active-list-item a{
    text-decoration: none;
    color: var(--white-color);
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 12px 0;
    transition: 1000ms;
}
.dark-list-item a{
    text-decoration: none;
    color: var(--black);
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 12px 0; 
}
.active-list-item .active a{
    font-size: 22px;
    color: var(--light-blue-color);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border-bottom: 1px solid var(--light-blue-color);
}
.active-list-item li a:hover{
    font-size: 22px;
    color: var(--light-blue-color);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border-bottom: 1px solid var(--light-blue-color);
}